* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: var(--primary);
}

li {
  list-style: none;
}

.not__found__container {
  background-color: #fff;
  border-radius: 5px;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.contentHeader {
  font-size: 60px;
  font-weight: 800;
}

.contentParagraph {
  margin-top: 30px;
}

/* loading__container */
.loading__container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading__container .loading__spiner {
  border-width: 5px;
  border-style: solid;
  border-top-color: orangered;
  border-right-color: blue;
  border-left-color: red;
  border-bottom-color: orange;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: loading_sniper .5s linear infinite;
}

@keyframes loading_sniper {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .contentHeader {
    font-size: 40px;
    line-height: 40px;
  }

  .contentParagraph {
    margin-top: 10px;
  }
}