.container.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.navbg {
  background-color: var(--primary);
  padding: 0.2em 0.8em;
  border-radius: 0.4em;
}

.navbg a {
  color: var(--secondary);
}

.navbg .menu {
  box-shadow: 0px 0px 1000px gray;
  background-color: var(--secondary);
  color: var(--primary);
}

.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__bar .menu {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 100px var(--primary), 0px 0px 100px var(--accents);
  display: none;
}

.nav__bar .menu img {
  width: 30px;
}

.nav__bar .site__title {
  width: 50px;
  height: 50px;
}

.nav__bar .site__title img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.nav__bar ul li {
  display: inline;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .nav__bar .menu {
    display: block;
  }

  .nav__bar ul {
    display: none;
  }

  .nav__bar ul.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    right: 30px;
    background-color: var(--accents);
    border-radius: var(--width);
    padding: 10px;
    box-shadow: 0px 0px 10000px var(--primary);
  }

  .nav__bar ul li {
    margin-left: 0;
    margin-top: 10px;
  }

  .navbg ul a {
    color: white;
  }
}