.transaction__page {
  margin-top: 50px;
  margin-bottom: 100px;
}

.transaction__page h1 {
  font-weight: 600;
  font-size: 30px;
}

.transaction__page h2 {
  font-weight: 500;
}

.transaction__page table a {
  color: var(--secondary);
}

.transaction__page .row {
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-bottom: 30px;
  row-gap: 20px;
}

.transaction__page .search__wrapper {
  width: 50%;
}

.transaction__page .___header span {
  color: var(--accents);
}

.transaction__page .page__card {
  background-color: var(--primary);
  color: #000;
  border-radius: var(--width);
}

.transaction__page .page__card__header {
  border-bottom: 1px solid gray;
}

.transaction__page .page__card__header h2 {
  padding: var(--padding);
}

.transaction__page .block__details {
  display: flex;
  overflow: auto;
}

.transaction__page table {
  padding: var(--padding);
  width: 100%;
}

.name__s td {
  padding: 10px;
  background-color: lightgrey;
  border-radius: var(--width);
  /* height: 100vh; */
}

.transaction__page table tr td:first-child {
  width: 100px;
}

.transaction__page .hashed {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.transaction__page .transactions__transfer {
  margin-bottom: 10px;
}

.transaction__page .transactions__transfer .account__transfer span {
  color: var(--accents);
  font-weight: 600;
}

.transaction__page .transactions__transfer .account__amount span {
  color: var(--secondary);
}

.transaction__page .transactions__transfer .approved__transfer.true {
  margin-left: 10px;
}

.transaction__page .transactions__transfer .approved__transfer.false {
  color: red;
  margin-left: 10px;
}

/* block__details account */
.block__details.account .accout__transaction__table__container {
  width: 800vw;
}

.block__details.account tr {
  align-items: center;
}

.block__details.account tr th {
  text-align: left;
  padding: 10px 5px;
  background-color: var(--accents);
  color: var(--primary);
  border-radius: var(--width);
}

.block__details.account tr td {
  padding-top: -210px;
  padding-bottom: -210px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: var(--width);
  border-bottom: 1px solid #000;
  background-color: lightgray;
}

.block__details.account td:nth-child(1),
.block__details.account td:nth-child(2) {
  color: var(--secondary);
}

@media screen and (max-width: 768px) {

  .transaction__page .search__wrapper {
    width: 96%;
  }
}